SERVICE_ID=1

TCP_SERVER_ADDRESS=":3008"
TCP_SERVER_KEEP_ALIVE=30s
TCP_SERVER_READ_BUFFER=4096
TCP_SERVER_WRITE_BUFFER=4096

ROUTER_TTL_UNACTIVE_SESSION=15s
ROUTER_TICKER_DURATION=1s
ROUTER_MAX_CONNS=128000
ROUTER_CACHE_BATCH_SIZE=100
ROUTER_CACHE_LINGER=50ms
ROUTER_CACHE_RETRY_ATTEMPT=3
ROUTER_SYNC_BACKOFF_JITTER_BASE=1s
ROUTER_SYNC_BACKOFF_JITTER_CAP=30s

CIRCUIT_BREAKER_NAME="distributed_cache_cb"
CIRCUIT_BREAKER_MAX_REQUESTS=3
CIRCUIT_BREAKER_INTERVAL=3s
CIRCUIT_BREAKER_TIMEOUT=60s
CIRCUIT_BREAKER_CONSECUTIVE_FAILURE=5

BROKER_URL="nats://xxx-chat:broker@demo.nats.io:4222"
BROKER_HUB_SUBJECT_PREFIX="prod.hub."
BROKER_MAX_HOPS=5
BROKER_PUBLISH_TIMEOUT=30s
BROKER_DELIVERY_BACKOFF="[100ms, 500ms, 1s, 2s, 5s]"
BROKER_INBOX_WORKERS=128

DISTRIBUTED_CACHE_ADDRESS="x.x.x.x:6380"
DISTRIBUTED_CACHE_PASSWORD=""
DISTRIBUTED_CACHE_POOL_SIZE=16
DISTRIBUTED_CACHE_MAX_IDLE_CONNS=5
DISTRIBUTED_CACHE_MAX_ACTIVE_CONNS=10
DISTRIBUTED_CACHE_DB=0
DISTRIBUTED_CACHE_HEARTBEAT_INTERVAL=3s
DISTRIBUTED_CACHE_HEARTBEAT_TTL=10s
DISTRIBUTED_CACHE_REAP_BATCH_SIZE=500
DISTRIBUTED_CACHE_DEVICE_BUCKET_COUNT=4096
DISTRIBUTED_CACHE_VERIFY_EVENT_EXPIRED=true

SCYLLA_DATABASE_HOSTS="[x.x.x.x:9142]"
SCYLLA_DATABASE_USER=""
SCYLLA_DATABASE_PASSWORD=""
SCYLLA_DATABASE_LOCAL_DC=""
SCYLLA_DATABASE_NUM_CONNS=2
SCYLLA_DATABASE_NUM_RETRIES=3
SCYLLA_DATABASE_CONNECT_TIMEOUT=11s
SCYLLA_DATABASE_TIMEOUT=500ms
#quorum for single-DC. If multi-DC, use localQuorum
SCYLLA_DATABASE_CONSISTENCY=4
#serial for single-DC. If multi-DC, use localSerial
SCYLLA_DATABASE_SERIAL_CONSISTENCY=8
SCYLLA_DATABASE_RECONNECTION_BACKOFF_JITTER_BASE=2s
SCYLLA_DATABASE_RECONNECTION_BACKOFF_JITTER_CAP=60s
SCYLLA_DATABASE_CA_PATH=""
SCYLLA_DATABASE_COMPRESSION=false

WORKER_POOL_NUMBER_WORKERS=128
WORKER_GLOBAL_CHECK_INTERVAL=64
WORKER_GLOBAL_BATCH_SIZE=32